* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(157deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: cover;
    /* background-color: ; */
}

.container {
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(10px);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    border-radius: 10px;
    padding: 20px;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 20px;
}

.blue {
    background-color:cadetblue;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
}

.red {
    background-color:crimson;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: flex-end;
}

.purple {
    background-color: purple;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    display: flex;
    align-items: center;
}

.orange {
    background-color: coral;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: end;
}

/* .container2 {
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */